# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependabot"
