name: Run CI Tests

on:
  pull_request:
    paths-ignore:
      - 'build/**'
      - 'examples/**'
      - 'scripts/**'
      - 'CHANGELOG.md'
      - 'README.md'
      - 'Vagrantfile'
  push:
    paths-ignore:
      - 'build/**'
      - 'examples/**'
      - 'scripts/**'
      - 'CHANGELOG.md'
      - 'README.md'
      - 'Vagrantfile'

jobs:
  run-tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
    - uses: hashicorp/setup-golang@v1
    - name: Machine Setup
      run: sudo .github/machinesetup.sh
    - name: Make Setup
      run: |
        make deps
        make check
        make dev
    - name: Make test
      run: |
        set +x
        whoami
        systemctl status podman
        sudo -E env "PATH=$PATH" make test-ci
